<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/tweetclassifier.css">
<html>
	<body>
		<h2>Presidential Tweet Classifier</h2>
		<form method="POST" class="form-style">
			<h3>Which president, Obama or Trump, is your tweet more likely? Enter one of their tweets or one of your own to find out.</h3>
			<ul>
				<li>
    				<label for="tweet">Tweet</label>
    				<input type="text" name="tweet" maxlength="280">
    				<span>Enter your tweet to classify (280 characters or less)</span>
				</li>
				<li>
    				<input type="submit" value="Classify This Tweet" >
				</li>
			</ul>
		</form>
	</body>
</html>

